body {
    width: 95%;
    margin: 15px auto;
    background-image: url(../images/foraccount.jpg);
    background-position: right;
    background-repeat: repeat-y;
    background-attachment: fixed;
}

article p::first-letter{
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    color: navy;
}