body {
    width: 95%;
    margin: 15px auto;
    background-image: url(../images/foraccount.jpg);
    background-position: right;
    background-repeat: repeat-y;
    background-attachment: fixed;
}

article {
    clear:both;
    width: 70%;
    float: left;
    column-count: 2;
    column-rule: 2px dotted orange;
    column-gap: 2em;
    margin-left: 2em;
}

article p::first-letter{
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    color: navy;
}